button{
    padding: 100px;
    border-radius:25% ;
    color: rgb(44, 7, 255);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(176, 253, 253);
}

