button{
    padding: 50px;
    border-radius:25% ;
    color: rgb(44, 7, 255);
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornflowerblue;
    border-color: black;
    text-align: center;
    margin: 20px;
}
body{
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    background-color: blue;
    color: white;
    padding-bottom: 40px;
    padding-top: 40px;
 
}
.flex{
display: inline-block;}

.yo{
    background-color: rgb(151, 252, 218);
    border-color: black;
    display: inline;
    padding-bottom: 200px;
    padding-top: 100px;
    margin: 20px;
}
